.image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .image-stack__item--bottom {
    grid-column: 4 / -1;
    
    grid-row: 1;
  }

  .image-stack__item--middle{
      grid-column: 2/-2;
      grid-row: 1;
      padding-top: 20%;
      z-index: 1;
  }
  
  .image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 40%; 
    z-index: 2;
  }
  
  .img {
    width: 100%;
    display: block;
  }